<?xml version="1.0" encoding="UTF-8"?>
<configuration
		xmlns="http://ch.qos.logback/xml/ns/logback"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xsi:schemaLocation="http://ch.qos.logback/xml/ns/logback logback.xsd">
	<appender name="limeFlogger" class="ch.qos.logback.core.ConsoleAppender">
		<!-- encoder 默认配置为PatternLayoutEncoder -->
		<encoder>
			<pattern>%d{HH:mm:ss.SSS}   [   %thread  ]   %-5level   %logger{36}   - %msg%n</pattern>
		</encoder>
	</appender>
	<root>
		<appender-ref ref="limeFlogger"/>
	</root>
</configuration>
